{% extends "layout.html" %} {% block content %}

<h2>Generated Pic Poem</h2>
{% if image_path %}
<img src="{{ image_path }}" alt="" class="image" />
{% endif %} {% if poem %}
<h3 id="title">{{ title }}</h3>
<p id="poem">{{ poem.replace('\n', '<br />')|safe }}</p>
{% endif %}

<!-- Hidden loading div -->
<div id="loading" style="display: none">
  <img src="../static/loading.gif" alt="Loading..." />
  <p>Rethinking this one...</p>
</div>

<div>
  <a
    id="regenerate-poem"
    href="{{ url_for('poem', image_path=image_path, labels=labels, objects=objects) }}"
    >Regenerate Poem</a
  >
</div>
<div>
  <a href="{{ url_for('index') }}">Generate Another Pic Poem</a>
</div>

<div id="download">
  <a
    href="{{ url_for('download', image_path=image_path, title=title, poem=poem) }}"
    >Download Pic Poem (pdf)</a
  >
</div>

<!-- JS for handling loading div -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $('#regenerate-poem').on('click', function () {
      $('#loading').show();
      $('#title').hide();
      $('#poem').hide();
    });
  });
</script>

{% endblock %}
