body { 
    font-family: "Helvetica", sans-serif; 
    font-size: 20px; 
    color: black; 
    text-align: center;
}
a, h1, h2, h3 { 
    color: #00008F; 
}
form { 
    margin:.1em auto; 
    padding:.1em; 
    width: 400px; 
    border: 1px solid #252424; 
}
.heading { 
    font-weight: bold; 
}
.page { 
    margin:.1em auto; 
    padding:.1em; 
    width: 504px;  
}
.image { 
    max-width: 50%; 
    height: auto;
}
.about {
    text-align: left !important;
}
.system {
    color: red;
}